<div>
  <div class="header">
    <form class="d-flex repoForm">
      <input type="text" class="form-control" name="repoTitle"  required placeholder="Search a user repository" id="repoTitle" #repoTitle (keyup.enter)= "searchLocalRepo(repoTitle.value)" >
      <!-- <button type="submit" class="btn btn-success" (click) = "searchResults(searchName.value)">Search</button> -->
    </form>
    <i class="fa fa-registered m-1 ms-2"></i>
    <p class="r m-1">Repositories</p>
    <span class="repo-total m-1">{{user.public_repos}}</span>

  </div>

  <div class="repo-details" *ngFor='let reposi of repoService.items ; let i = index'>
    <div class="repo-title" appBackgroundColor>
      <p>{{reposi.name}}</p>
      <a href="{{reposi.html_url}}" target="_blank" class=""><button type="button" class="btn btn-warning repobtn ">View project repo on Github</button></a>
    </div>
    <div class="repo-description">
      <p> {{reposi.description}}</p>
      <div class="addition">
        <div class = "language">
          <div class="round"></div>

          <p> {{reposi.language}}</p>

        </div>

         <p> Created at {{reposi.created_at|date}}</p>

      </div>



    </div>
  </div>
</div>


