<div class="container-fluid main-page">
  <ng-progress></ng-progress>
  <nav class="navbar navbar-light bg-light mb-3 ">
    <div class="container-fluid">
      <!-- <a class="navbar-brand">GitScraperApp</a> -->

      <form class="d-flex m-2 userForm" >
        <i class="fab fa-github-square"></i>
        <input type="text" class="form-control" name="searchName" required placeholder="Search a git user" id="searchName" #searchName (keyup.enter)= "searchResults(searchName.value)" >

        <button type="submit" class="btn userSearchBtn" (click) = "searchResults(searchName.value);"  >Search</button>
        <div class="validate">
          <p>Enter the search username !!</p>
        </div>
      </form>
      <div class="nav-links">
        <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive='active' >Profile</a>
        <a class="nav-link active" aria-current="page" routerLink="/repositories" routerLinkActive='active'>Repositories</a>
      </div>

    </div>
  </nav>


  <!-- on search -->

  <div class="row onSearch">
    <div class="col-md-5 profile">
      <div class="image">
        <img src="{{user.avatar_url}}" appCursorPointer alt="">
      </div>
      <div class="username">
        <h4>{{user.name}}</h4>
        <p>{{user.login}}</p>
      </div>
      <div class="bio">
        <p>{{user.bio}}</p>
      </div>
      <div class="follow">
        <i class="fa fa-users"></i>
        <span class="following ms-1 fw-bold">{{user.following}}</span>
        <p class="ms-1 p">following.</p>
        <span class="followers ms-1 fw-bold">{{user.followers}}</span>
        <p class="ms-1 p">followers.</p>

      </div>
      <div class="date-created">
        <p>created at {{user.created_at|date}} ({{user.created_at|dateCounter}})</p>
      </div>
      <div class="location">
        <i class="fa fa-map-marker-alt m-1"></i>
        <p>{{user.location}}</p>
      </div>
     <a href="{{user.html_url}}" target="_blank" class=""><button type="button" class="btn btn-warning profilebtn">View profile on Github</button></a>

    </div>
    <div class=" col-md-7 repo">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active repo-link" aria-current="true" href="#">Repositories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link followers-link" href="#">Followers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link following-link" href="#">Following</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <!-- repo list -->
          <div class="repo-list">
            <div class="repo-list">
              <app-repositories></app-repositories>
            </div>

          </div>

          <!-- followers list -->
          <div class="followers-list after-search">

            <p>Followers List</p>
            <div class="card follower-card" style="width: 18rem;"  *ngFor = 'let fol of userFollowers.followersList; let i =index'>
              <img src="{{userFollowers.followersList[i].avatar_url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p>{{userFollowers.followersList[i].login}}</p>
                <a href="{{userFollowers.followersList[i].html_url}}" target="_blank" class="" ><button type="button" class="btn btn-warning profilebtn">View profile on Github</button></a>

              </div>
            </div>

          </div>

          <!-- following list -->
          <div class="following-list after-search">
            <p>Following List</p>
            <div class="card follower-card" style="width: 18rem;"  *ngFor = 'let fol of userFollowing.followingList; let i =index'>
              <img src="{{userFollowing.followingList[i].avatar_url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p>{{userFollowing.followingList[i].login}}</p>
                <a href="{{userFollowing.followingList[i].html_url}}" target="_blank" class=""><button type="button" class="btn btn-warning profilebtn">View profile on Github</button></a>

              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>

</div>





