<div class="container-fluid repoPage">
  <ng-progress></ng-progress>
  <nav class="navbar navbar-light bg-light mb-3">
    <div class="container-fluid">
      <form class="d-flex m-2 userForm">
        <i class="fab fa-github-square"></i>

        <input
          type="text"
          class="form-control"
          name="repoName"
          required
          placeholder="Search a git repo"
          id="repoName"
          #repoName
          (keyup.enter)="findRepo(repoName.value)"
        />

        <button
          type="submit"
          class="btn userSearchBtn"
          (click)="findRepo(repoName.value)"
        >
          Search
        </button>
        <div class="validate">
          <p>Enter a github repo name !!</p>
        </div>
      </form>
      <div class="nav-links">
        <a
          class="nav-link active"
          aria-current="page"
          routerLink=""
          routerLinkActive="active"
          >Profile</a
        >
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="/repositories"
          routerLinkActive="active"
          >Repositories</a
        >
      </div>
    </div>
  </nav>

  <div class="container-fluid repoResults">
    <div class="row">
      <div class="col-md-7">
        <div class="card text-center">
          <div class="card-header" >
            <p> Repository search results</p>

          </div>
          <div class="card-body">
            <!-- repo list -->
            <div class="repo-search-list">
              <div
                class="repo-search-details"
                *ngFor="let repo of repoList; let i = index"
              >
              <!-- <p>{{repo.total_count }}</p> -->

                <div class="repo-search-title" appBackgroundColor>
                  <div class="repo-header d-flex">

                    <p>
                      {{repo.name}} by {{ repo.owner["login"]}}
                    </p>

                  </div>

                  <a href="{{repo.clone_url}}" target="_blank" class=""
                    ><button type="button" class="btn btn-warning repobtn">
                      View project repo on Github
                    </button></a
                  >
                </div>
                <div class="repo-description">
                  <p>{{ repo.description }}</p>
                  <div class="addition">
                    <div class = "language">
                      <div class="round"></div>

                      <p> {{repo.language}}</p>

                    </div>

                     <p> Created at {{repo.created_at|date}}</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
